@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

body, html, #root {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
button, input {
  font-family: 'DM Serif Text', serif;
  font-size: large;
  color: #363c3c;
}
button {
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}
.App {
  text-align: center;
  font-family: 'DM Serif Text', serif;
  font-size: large;
  color: #363c3c;
  margin: none;
  padding: none;
  height: 100%;
}
.navbar {
  background-color: #363c3c;
  height: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5vh 3vw;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
}
main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
.contents{
  padding-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.search-results{
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}
.detail-view {
  width: 75%;
  height: 100%
}
.neighbor-colors {
  margin: 2vh 0vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2vw;
  width: 100%;
}
.clear-btn {
  background-color: white;
  border: 1px solid #363c3c;
  border-radius: 5px;
  padding: 1vh 1vh;
  width: 15%;
}
#card-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(18vw, 18%));
  grid-template-rows: repeat(3, minmax(22vh, 15%));
  column-gap: 2vw;
  row-gap: 2vh;
  height: 90%;
}
#sidebar {
  display: flex;
  flex-direction: column;
  width: 15vw;
  background-color: #d6d8d8;
  padding: 1.5vh 1vw 1.5vh 1vw;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
  height: 100%;
}
#random-color-btn{
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1vh 1vh;
  width: 100%
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: space space-evenly;
  align-items: flex-start;
  height: 50%;
  padding: 0vh 0vh;
}
li {
  list-style: none;
  flex-basis: 4vh;
}
.card-container {
  width: 80%;
}
.card{
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}
.card p {
  padding-left: 0.5vw;
}
.pagination{
  display: flex;
  flex-direction: row;
  margin: 0;
}
.page-item{
  margin-left: 1vw;
  margin-right: 1vw;
}
a{
  text-decoration: none;
  color: #363c3c;
}
.current-page{
  color: #363c3c;
  font-size: x-large;
  text-decoration: underline;
}
#search {
  border: 1px solid #363c3c;
  border-radius: 7px;
}
#main-body {
  display: flex;
  flex-direction: row;
}
.search-header {
  display: flex;
  flex-direction: row;
  column-gap: 2vw;
  align-items: center;
  justify-content: center;
}
.exit-search-btn {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  height: 75%;
}
h1{
  margin: 0;
}

